@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');
        
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open sans', sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.6;
}

.hero {
    position: relative;
    background: url('../images/top/061.jpg') no-repeat top center/cover;
    height: 100vh;
}

.logo {
    color: #ccc;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero * {
    z-index: 10;
}

.content h1 {
    font-size: 55px;
    color: #eee;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    background: #f4f4f4;
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar.top {
    background: transparent;
}

.navbar ul {
    display: flex;
}

.navbar a {
    margin: 0 5px;
    padding: 5px 5px;
    color: #ccc;
}

.navbar a:hover {
    border-bottom: 2px solid #f7c08a;
}

.hero.min {
    height: 70px;
}

/* Admin Control */
.admin-top {
    margin: 30px;
}

.admin-filelist {
    margin-left: 30px;
}

.filename-list {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.file-icon {
    margin-right: 10px;
}

.filename-list .filename  {
    /* display: inline-block; */
    width: 200px;
}

/* Files */
.files {
    margin: 30px;
}

.file-list {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.file-list a:hover {
    color: #f7c08a;
}

/* File Contents */
.current-file {
    font-size: 1.7rem;
    margin: 10px;
}

.operation {
    display: grid;
    grid-template-areas: 
        'file-create image-append'
        'image-delete image-output';
    grid-gap: 10px;
    margin: 10px;
}

.file-create {
    grid-area: file-create;
}

.file-create input[type='text'] {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

.image-append {
    grid-area: image-append; 
}

.image-append select {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

.image-delete {
    grid-area: image-delete;
}

.image-output {
    grid-area: image-output;
}

.images ul {
    display: flex;
    flex-wrap: wrap;
}

.images ul li {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 150px;
    margin: 0 5px;
}

.images ul li p {
    overflow-wrap: break-word;
}

.chkImage {
    display: none;
 }

.chkImage:checked + label {
    border-top: 5px #f7c08a solid;
    border-radius: 5px;
    padding-top: 5px;
 }