<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin</title>
    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            <input type="submit" value="データ全削除" formaction="{% url 'imagelist:deletealldata' %}">
            <input type="submit" value="作業フォルダ削除" formaction="">
        </form>
        {% for filepath in filepath_list %}
            <li>
                <span>{{ filepath.file_name }}</span><a href="{% url 'imagelist:deleteat' filepath.id %}">削除</a>
            </li>
        {% endfor %}
    </body>
</html>
