<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FileDetail</title>
    </head>
    <body>
        <div style="margin: 5px;">{{imageDatas.count}}件</div>
        <form method="post">
            {% csrf_token %}
            <span style="margin: 5px;">出力するテキストファイル名</span>
            <input type="text" name="outputFileName" value="">
            <input type="submit" value="画像ファイル削除" formaction="{% url 'imagelist:deleteimage' imageListId %}">
            <input type="submit" value="テキストファイル作成" formaction="{% url 'imagelist:createimagelistfile' imageListId %}">
            <input type="submit" value="画像リスト出力" formaction="{% url 'imagelist:outputimagelistfile' imageListId %}">
            <select name="fileList">
                {% for file in fileList %}
                    <option value="{{ file.id }}">{{ file.file_name }}</option>
                {% endfor %}
            </select>
            <fieldset>
                {% if imageDatas %}
                <ul>
                    {% for imageData in imageDatas %}
                        <li>
                            <input type="checkbox" name="choice" id="imageData{{ forloop.counter }}"
                                value="{{ imageData.id }}">
                            <p>{{imageData.disp_order}}</p>
                            <label for="imageData{{ forloop.counter }}">
                                <img src="{{ imageData.thumbnail.url }}">
                            </label>
                            <p>{{imageData.file_path}}</p>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>No ImageDatas are available.</p>
                {% endif %}
            </fieldset>
            <input type="submit" value="画像ファイル削除" formaction="{% url 'imagelist:deleteimage' imageListId %}">
            <input type="submit" value="テキストファイル作成" formaction="{% url 'imagelist:createimagelistfile' imageListId %}">
        </form>
    </body>
</html>